@media only screen and (max-width:600px){

    .logo{
        width: 100%;
        height: auto;
    }

    .roditeljmeni{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        margin-bottom: 10px; 
        
    }

    .roditeljmeni div{
        margin: 0px;
        padding: 5px;
    }

    #malinee{
        width: 100%;
        height: 500px;
    }

    .obrada{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }



    .button{
        padding: 15px 40px;
        font-size: .9em;
        margin-bottom: 50px;
    }


    #slikedugme{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    #posebno11{
        width: 100%;
        height: auto;
    }

    #posebno22{
        width: 100%;
        height: auto;
    }

    #malina{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #malinaslika{
        width: 100%;
        height: auto;
    }


    #kupina{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #kupinaslika{
        width: 100%;
        height: auto;
    }


    #sljiva{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #sljivaslika{
        width: 100%;
        height: auto;
    }

    #borovnica{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #borovnicaslika{
        width: 100%;
        height: auto;
    }



    #pmalina, #pkupina, #psljiva, #pborovnica{
        font-size: 1.3em;
    }












    .futer{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .fa{
        width: auto;
    }


}



@media only screen and (min-width:600px){

    .obrada{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
     .button{
         padding: 15px 40px;
         font-size: .9em;
         margin-bottom: 50px;
     }

     #slikedugme{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    #posebno11{
        width: 100%;
        height: auto;
    }

    #posebno22{
        width: 100%;
        height: auto;
    }

    #malina{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #malinaslika{
        width: 100%;
        height: auto;
    }

    #kupina{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #kupinaslika{
        width: 100%;
        height: auto;
    }

    #sljiva{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #sljivaslika{
        width: 100%;
        height: auto;
    }

    #borovnica{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #borovnicaslika{
        width: 100%;
        height: auto;
    }



    




    




}




@media only screen and (min-width:768px){

    .obrada{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .button{
        padding: 15px 40px;
        font-size: .9em;
        margin-bottom: 50px;
    }

    #slikedugme{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }


    

    #malina{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #malinaslika{
        width: 100%;
        height: auto;
    }

    #kupina{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #kupinaslika{
        width: 100%;
        height: auto;
    }

    #sljiva{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #sljivaslika{
        width: 100%;
        height: auto;
    }

    #borovnica{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    #borovnicaslika{
        width: 100%;
        height: auto;
    }








   




}




@media only screen and (min-width:992px){

    .obrada{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .button{
        padding: 15px 40px;
        font-size: .9em;
        margin-bottom: 50px;
    }

    #slikedugme{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    #malina{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    


    #kupina{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #kupinaslika{
        width: 100%;
        height: auto;
    }

    #sljiva{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #sljivaslika{
        width: 100%;
        height: auto;
    }


    #borovnica{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #borovnicaslika{
        width: 100%;
        height: auto;
    }







}




@media only screen and (min-width:1200px){

    .obrada{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .button{
        padding: 30px 80px;
        font-size: 1.2em;
    }

    #slikedugme{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    #malina{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #kupina{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #kupinaslika{
        width: 100%;
        height: auto;
    }

    #sljiva{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #sljivaslika{
        width: 100%;
        height: auto;
    }

    #borovnica{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #borovnicaslika{
        width: 100%;
        height: auto;
    }

}

